HTTP_PORT=8080

POSTGRES_DSN=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=exchange_rates
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=UTC

SYNC_SCHEDULE=1 0 * * *
SYNC_CURRENCIES=USD,EUR,GBP,RUB
SYNC_HISTORY_START_DATE=2019-01-01
SYNC_HISTORY_END_DATE=2019-12-31

CNB_BASE_URL=https://www.cnb.cz/en/financial_markets/foreign_exchange_market/exchange_rate_fixing
